.navbar {

    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 50px 15px 15px;
    margin: 0px;
}

.hero{

    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding:  50px 80px 30px 150px;
}


@media (max-width:720px) {
    
.list {
    display: none;
}

.navbar{
width: 100%;
display: flex;
gap:350px;
}


.hero {
    display: flex;
    flex-direction: column-reverse;
    max-width: 100%;
    margin: 0 auto;
    padding: 50px 50px 10px 50px;


    h1 {
        width: 500px;
    }

    p {
        width: 400px;
    }

}
}




